.connection {
  margin: 0 20px;

  .input-form {
    display: flex;
    gap: 8px;
    margin: 8px 0;

    input {
      flex: 1;
    }

    button {
      flex: 0 0 30px;
      border-radius: 20px;
      color: white;
      background: #5B4B8A;
      text-transform: none;
      height: auto;

      &:hover {
        background-color: #4C3575;
      }
    }

  }

  .record {
    max-height: 500px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background: #373f51;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #ccc;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #ccc;
    }
  }

  ul {
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      margin: 16px 10px 16px 0;

      .content-text {
        word-break: break-all;
       }

      &.dealer {
        margin: 8px 10px 8px 0;
        .avatar {
          display: none;
        }

        .content {
          flex: 1;
          text-align: center;

          .content-text {
            color: goldenrod;
          }
        }
      }

      .avatar {
        display: inline-block;
        flex: 0 0 30px;
      }

      .content {
        margin-left: 16px;

        .name {
          font-size: 18px;
          font-weight: bolder;
        }

        .time {
          font-size: 12px;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
}
