html,
body {
  height: 100%;
  font-family: 400;
  margin: 0;
  color: #9880e9;
  background-color: #2e1f3e;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

#root {
  height: 100%;
}
